@model DonVo.ViewModels.CreateMainEmployeeViewModel
@{
    ViewData["Title"] = "Create";
}

<section class="add-user container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 add-user_block">

            <div class="row align-items-center mt-3">
                <div class="col-md-10">
                    <h1>Add Employee</h1>
                </div>
            </div>
            <hr>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="FirstName" class="info-label">First Name</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="LastName" class="info-label">Last Name</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="MiddleName" class="info-label">Middle Name</label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="HireDate" class="info-label">Hire Date</label>
                        <input asp-for="HireDate" class="form-control" />
                        <span asp-validation-for="HireDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="StartDate" class="info-label">Start Date</label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="EndDate" class="info-label">End Date</label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="Title" class="info-label">Title</label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="EmailAddress" class="info-label">Email Address</label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="Phone" class="info-label">Phone</label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="MaritalStatus" class="info-label">Marital Status</label>
                        <input asp-for="MaritalStatus" class="form-control" />
                        <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="Gender" class="info-label">Gender</label>
                        <input asp-for="Gender" class="form-control" />
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="BirthDate" class="info-label">Birth Date</label>
                        <input asp-for="BirthDate" class="form-control" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="DepartmentName" class="info-label">Department Name</label>
                        <input asp-for="DepartmentName" class="form-control" />
                        <span asp-validation-for="DepartmentName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="BaseRate" class="info-label">Base Rate</label>
                        <input asp-for="BaseRate" class="form-control" />
                        <span asp-validation-for="BaseRate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="Status" class="info-label">Status</label>
                        <input asp-for="Status" class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="VacationHours" class="info-label">Vacation Hours</label>
                        <input asp-for="VacationHours" class="form-control" />
                        <span asp-validation-for="VacationHours" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="EmergencyContactName" class="info-label">Emergency Contact Name</label>
                        <input asp-for="EmergencyContactName" class="form-control" />
                        <span asp-validation-for="EmergencyContactName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="EmergencyContactPhone" class="info-label">Emergency Contact Phone</label>
                        <input asp-for="EmergencyContactPhone" class="form-control" />
                        <span asp-validation-for="EmergencyContactPhone" class="text-danger"></span>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="form-group col-lg-3">
                        <div>
                            <a asp-action="Index">Return</a>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <input type="submit" value="Add" class="btn btn-success btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@if (TempData["ErrorsList"] != null)
{
    await Html.RenderPartialAsync("_Errors", TempData["ErrorsList"]);
}