<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Don Vo Net Core 3.0 Proof of Concepts</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/css/libs.min.css"/>
        <link rel="stylesheet" href="~/css/site.min.css"/>
        <link rel="stylesheet" href="~/lib/jquery-editable-select/jquery-editable-select.min.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/libs.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/jquery-editable-select/jquery-editable-select.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" asp-append-version="true">
    </environment>
</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top bg-dark navbar-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">

            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Directory">Directories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Directory">Angular UI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="MachineLearning" asp-action="Index">Machine Learning</a>
                </li>

                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Index">Users</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Index">Analytics</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="SystemAudit" asp-action="Index">Audit Log</a>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Search" asp-action="Index">Search</a>
                </li>

                @if (User.IsInRole("Admin") || User.IsInRole("Accountant"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Currency" asp-action="Create">Add Currency</a>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="SignOut">Sign Out</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="container body-content">
        <br>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Don Vo Net Core 3.0 Proof of Concepts - @DateTime.Now.Year</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/popper/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/jquery-editable-select/jquery-editable-select.min.js"></script>
        <script src="~/lib/jquery-masked-input/jquery.maskedinput.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/main.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/popper/umd/popper.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-editable-select/jquery-editable-select.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-masked-input/jquery.maskedinput.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
        <script src="~/js/main.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>